In [36]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [37]:

# Check if the file exists at the given path
file_path_2020 = "Resources/athletic_sales_2020.csv"
file_path_2021 = "Resources/athletic_sales_2021.csv"
sales_2020 = pd.read_csv(file_path_2020)
sales_2021 = pd.read_csv(file_path_2021)

# Display the first few rows of each DataFrame to confirm loading
print("Sales 2020:")
print(sales_2020.head())

print("\nSales 2021:")
print(sales_2021.head())

Sales 2020:
      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

Sales 2021:
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

In [38]:
# Display the 2020 sales DataFrame
sales_2020.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [39]:
# Display the 2021 sales DataFrame
sales_2021.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [40]:
# Check the 2020 sales data types.
print(sales_2020.info(19))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          1297 non-null   object
 1   retailer_id       1297 non-null   int64
 2   invoice_date      1297 non-null   object
 3   region            1297 non-null   object
 4   state             1297 non-null   object
 5   city              1297 non-null   object
 6   product           1297 non-null   object
 7   price_per_unit    1297 non-null   int64
 8   units_sold        1297 non-null   int64
 9   total_sales       1297 non-null   int64
 10  operating_profit  1297 non-null   float64
 11  sales_method      1297 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 121.7+ KB
None

In [41]:
# Check the 2021 sales data types.
sales_2021.dtypes
print(sales_2021.info(19))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8346 entries, 0 to 8345
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          8346 non-null   object
 1   retailer_id       8346 non-null   int64
 2   invoice_date      8346 non-null   object
 3   region            8346 non-null   object
 4   state             8346 non-null   object
 5   city              8346 non-null   object
 6   product           8346 non-null   object
 7   price_per_unit    8346 non-null   int64
 8   units_sold        8346 non-null   int64
 9   total_sales       8346 non-null   int64
 10  operating_profit  8346 non-null   float64
 11  sales_method      8346 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 782.6+ KB
None

#### Combine the sales data by rows.

In [42]:
# Concatenate the 2020 and 2021 sales data on rows

combined_sales_data = pd.concat([sales_2020, sales_2021], ignore_index=True)

# Reset the index of the combined DataFrame
combined_sales_data.reset_index(drop=True, inplace=True)

# Display the first few rows of the combined DataFrame
print(combined_sales_data.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [43]:
# Check if any values are null.
null_values = combined_sales_data.isnull().sum()

# Display the columns with their respective count of null values
print("Null values in each column:")
print(null_values)

Null values in each column:
retailer            0
retailer_id         0
invoice_date        0
region              0
state               0
                   ..
price_per_unit      0
units_sold          0
total_sales         0
operating_profit    0
sales_method        0
Length: 12, dtype: int64

In [44]:
# Check the data type of each column
#combined_sales_data.dtypes
#print(combined_sales_data.dtypes)
print(combined_sales_data.info(19))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   object
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 904.2+ KB
None

In [61]:
# Convert the "invoice_date" to a datetime datatype
# Verify the conversion by checking the data type of the column

# Convert the "invoice_date" column to a datetime datatype
combined_sales_data['invoice_date'] = pd.to_datetime(combined_sales_data['invoice_date'])

# Verify the conversion by checking the data type of the column
print(combined_sales_data['invoice_date'].dtype)

# Display the first few rows of the "invoice_date" column to check the format
print(combined_sales_data['invoice_date'].head())

# Display the entire DataFrame to visually inspect the "invoice_date" column
#print(combined_sales_data.head())

# Showing the full DataFrame formatted as you described
pd.set_option('display.max_rows', 10)
#print(combined_sales_data.to_string(index=False))

datetime64[ns]
0   2020-01-01
1   2020-01-01
2   2020-01-01
3   2020-01-01
4   2020-01-01
Name: invoice_date, dtype: datetime64[ns]

In [46]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_sales_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9643 entries, 0 to 9642
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   retailer          9643 non-null   object
 1   retailer_id       9643 non-null   int64
 2   invoice_date      9643 non-null   datetime64[ns]
 3   region            9643 non-null   object
 4   state             9643 non-null   object
 5   city              9643 non-null   object
 6   product           9643 non-null   object
 7   price_per_unit    9643 non-null   int64
 8   units_sold        9643 non-null   int64
 9   total_sales       9643 non-null   int64
 10  operating_profit  9643 non-null   float64
 11  sales_method      9643 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(4), object(6)
memory usage: 904.2+ KB
None

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [47]:
# Group by 'region', 'state', and 'city' and sum the 'units_sold' column
total_sold = combined_sales_data.groupby(['region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the resulting column to 'Total_Products_Sold'
total_products_sold = total_sold.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results by total products sold
top_regions = total_products_sold.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print(top_regions)

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

#### Using `pivot_table`

In [48]:
# Create a pivot table to show the number of products sold for each region, state, and city
pivot_table = combined_sales_data.pivot_table(values='units_sold', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

# Rename the resulting column to 'Total_Products_Sold'
pivot_table = pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})
#print(pivot_table)

# Sort the DataFrame by 'Total_Products_Sold' column in descending order
top_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False)

# # Display the top 5 results
print(top_results.head(5))

       region       state           city  Total_Products_Sold
21  Northeast    New York       New York               111954
33      South       Texas        Houston                90322
44       West  California  San Francisco                85478
43       West  California    Los Angeles                76384
34  Southeast     Florida          Miami                73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [49]:
# Group by 'region', 'state', and 'city' and sum the 'total_sales' column
total_sales_by_location = combined_sales_data.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the resulting column to 'Total Sales'
total_sales_by_location = total_sales_by_location.rename(columns={'total_sales': 'Total Sales'})

# Display the total sales for each region, state, and city
#print(total_sales_by_location)

# Sort the DataFrame by 'Total Sales' column in descending order
top_results = total_sales_by_location.sort_values(by='Total Sales', ascending=False)
print(top_results.head(5))

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [50]:
# Show the total sales for the products sold for each region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Create a pivot table to show the total sales for each region, state, and city
pivot_table = combined_sales_data.pivot_table(values='total_sales', index=['region', 'state', 'city'], aggfunc='sum').reset_index()

pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Sort the pivot table by 'Total Sales' column in descending order
sorted_pivot_table = pivot_table.sort_values(by='Total Sales', ascending=False)

# Select the top 5 results
top_5_results = sorted_pivot_table.head()
print(top_5_results.head())

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [51]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Group by 'retailer', 'region', 'state', and 'city' and sum the 'total_sales' column
total_sales_by_location = combined_sales_data.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the resulting column to 'Total Sales'
total_sales_by_location = total_sales_by_location.rename(columns={'total_sales': 'Total Sales'})

# Sort the DataFrame by 'Total Sales' column in descending order
total_sales_by_location_sorted = total_sales_by_location.sort_values(by='Total Sales', ascending=False)
#print (total_sales_by_location_sorted)
# Select the top 5 results
top_5_total_sales = total_sales_by_location_sorted.head()
print(top_5_total_sales.head())

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [52]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Optional: Rename the "total_sales" column to "Total Sales"
# Show the top 5 results.

# Create a pivot table to show the total sales for each retailer, region, state, and city
pivot_table = combined_sales_data.pivot_table(values='total_sales', index=['retailer', 'region', 'state', 'city'], aggfunc='sum').reset_index()

# Optional: Rename the resulting column to 'Total Sales'
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Sort the pivot table by 'Total Sales' column in descending order
sorted_pivot_table = pivot_table.sort_values(by='Total Sales', ascending=False)

# Select the top 5 results
top_5_results = sorted_pivot_table.head()
print(top_5_total_sales.head())

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [53]:
# Filter the sales data to get the women's athletic footwear sales data.

womens_athletic_footwear_sales = combined_sales_data[combined_sales_data['product'] == "Women's Athletic Footwear"]

# Display the filtered data with proper formatting
print(womens_athletic_footwear_sales.head().to_string(index=False))

   retailer  retailer_id invoice_date    region        state         city                   product  price_per_unit  units_sold  total_sales  operating_profit sales_method
Foot Locker      1185732   2020-01-04 Northeast     New York     New York Women's Athletic Footwear              36         281        10116           3742.92       Outlet
Foot Locker      1185732   2020-01-04 Northeast     New York     New York Women's Athletic Footwear              41         247        10127           4658.42       Online
Foot Locker      1185732   2020-01-04 Northeast     New York     New York Women's Athletic Footwear              45         850       382500         133875.00     In-store
  West Gear      1128299   2020-01-05 Northeast Pennsylvania Philadelphia Women's Athletic Footwear              45         300       135000          47250.00       Outlet
  West Gear      1128299   2020-01-05 Northeast Pennsylvania Philadelphia Women's Athletic Footwear              34          90         3060           1254.60       Outlet

#### Using `groupby`

In [59]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.

# Group by 'retailer', 'region', 'state', and 'city' and sum the 'units_sold' column
total_womens_footwear_sales = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()

# Rename the resulting column to 'Womens_Footwear_Units_Sold'
total_womens_footwear_sales = total_womens_footwear_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort the DataFrame by 'Womens_Footwear_Units_Sold' column in descending order
total_womens_footwear_sales_sorted = total_womens_footwear_sales.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Select the top 5 results
top_5_womens_footwear_sales = total_womens_footwear_sales_sorted.head()
print(top_5_womens_footwear_sales.to_string(index=False))

     retailer    region          state          city  Womens_Footwear_Units_Sold
    West Gear      West     California San Francisco                       12107
  Foot Locker Northeast       New York      New York                       10996
       Kohl's      West     California   Los Angeles                       10826
  Foot Locker Southeast South Carolina    Charleston                        8814
Sports Direct     South          Texas        Dallas                        8790

#### Using `pivot_table`

In [55]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
# Show the top 5 results.

# Create a pivot table to aggregate the data
pivot_table = womens_athletic_footwear_sales.pivot_table(
    values='units_sold', 
    index=['retailer', 'region', 'state', 'city'], 
    aggfunc='sum'
).reset_index()

# Rename the resulting column to 'Womens_Footwear_Units_Sold'
pivot_table = pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Sort the DataFrame by 'Womens_Footwear_Units_Sold' column in descending order
pivot_table_sorted = pivot_table.sort_values(by='Womens_Footwear_Units_Sold', ascending=False)

# Select the top 5 results
top_5_womens_footwear_sales = pivot_table_sorted.head()
print(top_5_womens_footwear_sales.to_string(index=False))

     retailer    region          state          city  Womens_Footwear_Units_Sold
    West Gear      West     California San Francisco                       12107
  Foot Locker Northeast       New York      New York                       10996
       Kohl's      West     California   Los Angeles                       10826
  Foot Locker Southeast South Carolina    Charleston                        8814
Sports Direct     South          Texas        Dallas                        8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [56]:
# Create a pivot table with the 'invoice_date' column as the index and the "total_sales" as the values
pivot_table = womens_athletic_footwear_sales.pivot_table(values='total_sales', index='invoice_date', aggfunc='sum')

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table = pivot_table.rename(columns={'total_sales': 'Total Sales'})

# Show the table
print(pivot_table.head(10))

              Total Sales
invoice_date
2020-01-04         402743
2020-01-05         141801
2020-01-11         129556
2020-01-17         173013
2020-01-22         388250
2020-01-23         188025
2020-01-28         376728
2020-01-29         190065
2020-02-03         390008
2020-02-04         268253

In [57]:
# Resample the pivot table into daily bins, and get the total sales for each day.
# Sort the resampled pivot table in descending order on "Total Sales".

# Create a pivot table to aggregate the total_sales
pivot_table = womens_athletic_footwear_sales.pivot_table(
    values='total_sales', 
    index='invoice_date', 
    aggfunc='sum'
)

# Resample the pivot table into daily bins and sum the sales
daily_sales = pivot_table.resample('D').sum()

# Rename the resulting column to 'Total Sales'
daily_sales = daily_sales.rename(columns={'total_sales': 'Total Sales'})

# Sort the DataFrame by 'Total Sales' in descending order
daily_sales_sorted = daily_sales.sort_values(by='Total Sales', ascending=False)

# Display the table
print(daily_sales_sorted.head(10))

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [58]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
# Sort the resampled pivot table in descending order on "Total Sales".

# Create a pivot table to aggregate the total_sales
pivot_table = womens_athletic_footwear_sales.pivot_table(
    values='total_sales', 
    index='invoice_date', 
    aggfunc='sum'
)

# Resample the pivot table into weekly bins and sum the sales
weekly_sales = pivot_table.resample('W').sum()

# Rename the resulting column to 'Total Sales'
weekly_sales = weekly_sales.rename(columns={'total_sales': 'Total Sales'})

# Sort the DataFrame by 'Total Sales' in descending order
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False)

# Display the table
print(weekly_sales_sorted.head(10))

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602